
<section class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 mx-auto">
              <div class="signup">
                  <div class="row">
                      <div class="col-md-5 signup-greeting overlay" style="background-image: url(../../../assets/images/background/signup.jpg);">
                          <img src="../../../assets/images/logo.png" alt="logo">
                          <h4>Bienvenido!</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                              labore et dolore magna.</p>
                      </div>
                      <div class="col-md-7">
                          <div class="signup-form">
                              <form action="#" class="row">
                                  <div class="col-lg-12">
                                      <h4>Login</h4>
                                      <p class="float-sm-right">¿Ya estas registrado?
                                        <a href="">Regístrate</a>
                                    </p>
                                  </div>
                                  <div class="col-lg-12">
                                      <input type="email" class="form-control" id="email" name="email" placeholder="Usuario">
                                  </div>
                                  <div class="col-lg-12">
                                      <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
                                  </div>
                                  <div class="col-sm-4">
                                      <button class="btn btn-primary btn-sm">Entrar</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

