<header>
  <!-- top header -->
  <div class="top-header">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <ul class="list-inline text-lg-right text-center">
                      <li class="list-inline-item">
                          <a href="mailto:info@companyname.com">correo@ujed.mx</a>
                      </li>
                      <li class="list-inline-item">
                          <a href="callto:6181234567">Comunicate con nosotros:
                              <span class="ml-2"> (618) 123 4567</span>
                          </a>
                      </li>
                      <!--
                      <li class="list-inline-item">
                          <a href="#" id="searchOpen">
                              <i class="ti-search"></i>
                          </a>
                      </li>
                      -->
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- /top header -->

  <!-- nav bar -->
  <div class="navigation">
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="index.html">
                  <img src="assets\images\logo.png" alt="logo">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                          <a class="nav-link" routerLink="">Inicio</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Nosotros
                          </a>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" routerLink="/team">Nuestro Equipo</a>
                          </div>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link" routerLink="/servicios">
                              Servicios
                          </a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Paginas
                          </a>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" routerLink="/precios">Precios</a>
                              <a class="dropdown-item" routerLink="">Proyectos</a>
                              <a class="dropdown-item" routerLink="">FAQs</a>
                          </div>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/noticias">
                              Noticias
                          </a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Link
                          </a>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Link 1</a>
                              <a class="dropdown-item" href="#">Link 2</a>
                              <a class="dropdown-item" href="#">Link 3</a>
                          </div>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/contactanos">Contactanos</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link btn btn-primary btn-sm" routerLink="/login">Entrar</a>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
  </div>
  <!-- /nav bar -->
</header>
