<section class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="signup">
                    <div class="row">
                        <div class="col-md-5 signup-greeting overlay" style="background-image: url(assets/images/background/signup.jpg);">
                            <img src="assets/images/logo.png" alt="logo">
                          <h4>Bienvenido!</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna.</p>
                        </div>
                        <div class="col-md-7">
                            <div class="signup-form">
                                <form action="#" class="row">
                                    <div class="col-lg-12">
                                        <h4>Registro</h4>
                                        <p class="float-sm-right">¿Ya tienes una cuenta?
                                            <a routerLink="/login">Inicia Sesión</a>
                                        </p>
                                    </div>
                                    <div class="col-lg-12">
                                        <select id="tipoUsuario" name="tipoUsuario" class="form-control">
                                            <option selected disabled value="">- Selecciona un tipo de usuario -</option>
                                            <option value="10">ALUMNOS UJED</option>
                                            <option value="40">ESCUELAS INCORPORADAS</option>
                                            <option value="20">PERSONAL UJED</option>
                                            <option value="50">PUBLICO EN GENERAL</option>
                                            <option value="30">UNIDADES ACADEMICAS UJED</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Usuario">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
                                    </div>
                                    <div class="col-lg-12">
                                        <input type="password" class="form-control" id="re-pass" name="re-pass" placeholder="Confirmar Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-primary btn-sm">Registrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
