<app-header></app-header>

<section class="page-title overlay" style="background-image: url(../../../assets/images/background/page-title.jpg);">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <h2 class="text-white font-weight-bold">Precios</h2>
              <ol class="breadcrumb">
                  <li>
                      <a routerLink="">Inicio</a>
                  </li>
                  <li>Precios</li>
              </ol>
          </div>
      </div>
  </div>
</section>

<!-- pricing -->
<section class="section">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-12">
              <h2 class="mb-2">Precios</h2>
              <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
          </div>
          <!-- pricing item -->
          <div class="col-lg-4 col-sm-6 mb-md-50">
              <div class="rounded border">
                  <div class="p-4 border-bottom">
                      <h3 class="text-color mb-0">Constancias</h3>
                      <i class="square-icon translateY-10 float-right ti-file"></i>
                  </div>
                  <div class="pt-5 px-4">
                    <h2 class="font-weight-bold mb-3">$25<span class="h5">mx</span></h2>
                      <ul class="pl-0 mb-30">
                          <li class="font-secondary text-color py-10 border-bottom">
                              <i class="text-primary mr-2 ti-arrow-circle-right"></i>Constancia</li>
                          
                      </ul>
                  </div>
              </div>
          </div>
          <!-- pricing item -->
          <div class="col-lg-4 col-sm-6 mb-md-50">
              <div class="rounded border">
                  <div class="p-4 border-bottom">
                      <h3 class="text-color mb-0">Titulo y Cedula</h3>
                      <i class="square-icon translateY-10 float-right ti-file"></i>
                  </div>
                  <div class="pt-5 px-4">
                      <h2 class="font-weight-bold mb-3">$3,000<span class="h5">mx</span></h2>
                      <ul class="pl-0 mb-30">
                          <li class="font-secondary text-color py-10 border-bottom">
                              <i class="text-primary mr-2 ti-arrow-circle-right"></i>Titulo</li>
                          <li class="font-secondary text-color py-10 border-bottom">
                              <i class="text-primary mr-2 ti-arrow-circle-right"></i>Cedula</li>
                          <li class="font-secondary text-color py-10 border-bottom">
                              <i class="text-primary mr-2 ti-arrow-circle-right"></i>Papeleria Oficial</li>
                          <li class="font-secondary text-color py-10 border-bottom">
                              <i class="text-primary mr-2 ti-arrow-circle-right"></i>Certificado</li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- pricing item -->
          <div class="col-lg-4 col-sm-6 mb-md-50">
              <div class="rounded border">
                  <div class="p-4 border-bottom">
                      <h3 class="text-color mb-0">Otra Papeleria</h3>
                      <i class="square-icon translateY-10 float-right ti-file"></i>
                  </div>
                  <div class="pt-5 px-4">
                      <h2 class="font-weight-bold mb-3">$1,500<span class="h5">mx</span>
                      </h2>
                      <ul class="pl-0 mb-30">
                          <li class="font-secondary text-color py-10 border-bottom">
                              <i class="text-primary mr-2 ti-arrow-circle-right"></i>Papeles 1</li>
                          <li class="font-secondary text-color py-10 border-bottom">
                              <i class="text-primary mr-2 ti-arrow-circle-right"></i>Papeles 2</li>
                          <li class="font-secondary text-color py-10 border-bottom">
                              <i class="text-primary mr-2 ti-arrow-circle-right"></i>Papeles 3</li>
                          <li class="font-secondary text-color py-10 border-bottom">
                              <i class="text-primary mr-2 ti-arrow-circle-right"></i>Papeles 4</li>
                          <li class="font-secondary text-color py-10 border-bottom">
                              <i class="text-primary mr-2 ti-arrow-circle-right"></i>Papeles 5</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- /pricing -->

<app-footer></app-footer>